<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">
      <span class="brand-text">WriteSpace</span>
    </a>

    <div class="navbar-items">
      @if (isAuthenticated) {
        <a routerLink="/dashboard" class="nav-link">Dashboard</a>
        <a routerLink="/blogs" class="nav-link">Blogs</a>
        <div class="avatar-container">
          <button class="avatar-button" (click)="toggleDropdown()">
            <span class="avatar">{{ userInitial }}</span>
          </button>
          @if (dropdownOpen) {
            <div class="dropdown-menu">
              <a routerLink="/dashboard" class="dropdown-item" (click)="closeDropdown()">Dashboard</a>
              <a routerLink="/blogs" class="dropdown-item" (click)="closeDropdown()">My Blogs</a>
              <button class="dropdown-item logout-item" (click)="onLogout()">Logout</button>
            </div>
          }
        </div>
      } @else {
        <a routerLink="/login" class="nav-link login-link">Login</a>
        <a routerLink="/register" class="nav-link get-started-link">Get Started</a>
      }
    </div>
  </div>
</nav>